*{
    margin: 0;
    padding: 0;
    font-family: 'Comfortaa', cursive;
    
}

/* .header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0,0,0,0.7)); 
    background-position: center;
    background-size: cover;
    position: relative; 
} */

nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

nav img{
    width: 130px;

}

.nav-links{
    flex: 1;
    text-align: right;
}

.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
   
}

.nav-links ul li a{
    color: rgb(10, 10, 10);
    text-decoration: none;
    font-size: 16px ;
    font-weight: bold;
}

.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #ddca1e;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after{
    width: 100%;
}
.contact{
    width: 80%;
    text-align: center;
    margin: 100px auto;
    padding: 100px 0;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(../Images/irina-89UsTc5bjsw-unsplash.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    text-align: center;
}

.contact h4{
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 600;
}

.icons .fa, a{
    color: #FFF;
    margin: 0 13px;
    cursor: pointer;
    padding: 18px 0;
}

.fa-copyright{
    color: #FFF;
}

.contact p, h4{
    color: #FFF;
}

.small-container{
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.product-row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.col-4{
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.5s;
}

.col-4 img{
    width: 100%;
}
.title{
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
    color: #555;
}
.title::after{
    content: '';
    background: #ddca1e;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
h4{
    color: #555;
    font-weight: normal;
}
.col-4 p{
    font-size: 14px;
}
.rating .fa{
    color: #ddca1e;
}
.col-4:hover{
    transform: translateY(-5px);
}
.row-2{
    justify-content: space-between;
    margin: 100px auto 50px;
}
select{
    border: 1px solid #ddca1e;
}
select:focus{
    outline: none;
}
.page-btn{
    margin: 0 100px 80px;
}
.page-btn span{
    display: inline-block;
    border: 1px solid #ddca1e;
    margin-left: 10px;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
}
.page-btn span:hover{
    background: #ddca1e;
    color: #FFF;
}
button{
    display: inline-block;
    text-decoration: none;
    color: #FFF;
    border: 1px solid #FFF;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}

/* Cart items */
.cart-page{
    margin: 80px auto;

}
table{
    width: 100%;
    border-collapse: collapse;
}
.cart-info{
    display: flex;
    flex-wrap: wrap;
}
th{
    text-align: left;
    padding: 5px;
    color: #fff;
    background: #ddca1e;
    font-weight: normal;
}
td{
    padding: 10px 5px;
}
td input{
    width: 40px;
    height: 30px;
    padding: 5px;
}
td a{
    color: #ddca1e;
    font-size: 12px;
    text-decoration: none;
}
td img{
    width: 80px;
    height: 80px;
    margin-right: 10px;
}
